<div class="jumbotron">

        <div class="panel panel-success panel-body">
            <!--Titulo-->
            <h1 class="panel-title page-header text-center">Registrar opción</h1><br><br>
            <div class="container">
              <form class="form-horizontal" name="crearMenu" novalidate>

                <!--Seleccionar APP relacionada al menú-->
                <div class="col-md-12 row line">
                  <div class="col-sm-2">
                    <label><h5><strong>Aplicaci&oacute;n:</strong><h5></label>
                    </div>
                    <div class="col-sm-10">

                      <select class="form-control"  ng-model="aplicacion" ng-options="option.Nombre for option in aplicaciones" ng-click="visualizar()">
                            <option value="">--Elija la aplicaci&oacute;n a la cúal pertenecerá el men&uacute;--</option>
                      </select>

                    </div>
                  </div>

                  <!--Seleccionar APP relacionada al menú-->
                  <div class="col-md-12 row line">
                    <div class="col-sm-2">
                      <label><h5><strong>Tipo opción:</strong><h5></label>
                      </div>
                      <div class="col-sm-10">

                        <select class="form-control"  ng-model="menu.tipo_opcion" required>
                              <option value="">--Elija el tipo de opción que se va a crear--</option>
                              <option value="Menú">Menú</OPTION>
                              <option value="Botón">Botón</OPTION>
                              <option value="Acción">Acción</OPTION>
                        </select>

                      </div>
                    </div>

                <!--Campo para el nombre del menú-->
                <div class="col-md-12 row line">
                  <div class="col-sm-2">
                    <label><h5><strong>Nombre:</strong><h5></label>
                    </div>
                    <div class="col-sm-10">
                      <input  class="form-control" ng-model="menu.nombre" placeholder="Ingrese el nombre del menú" >
                    </input>
                  </div>
                </div>

                <!--Campo para la variable del menú-->
                <div class="col-md-12 row line">
                  <div class="col-sm-2">
                    <label><h5><strong>Descripción:</strong><h5></label>
                    </div>
                    <div class="col-sm-10">
                      <input  class="form-control" ng-model="menu.descripcion" placeholder="Ingrese la descripción correspondiente al menú">
                      </input>
                    </div>
                  </div>

                  <!--Campo para la url del menú-->
                  <div class="col-md-12 row line">
                  <div class="col-sm-2">
                    <label><h5><strong>URL:</strong><h5></label>
                    </div>
                    <div class="col-sm-10">
                      <input  class="form-control" ng-model="menu.url" placeholder="Ingrese la URL del men&uacute;">
                    </input>
                    </div>
                  </div>


                  <!--Campo para el layout del menú-->
                  <div class="col-md-12 row line">
                  <div class="col-sm-2">
                    <label><h5><strong>Layout:</strong><h5></label>
                    </div>
                    <div class="col-sm-10">
                      <input  class="form-control" ng-model="menu.layout" placeholder="Ingrese el layout para el menú">
                    </input>
                    </div>

                  </div>

                    <!--Seleccionar menús relacionados con la aplicación-->
                    <div class="col-md-12 row line">
                      <div class="col-sm-2">
                        <label><h5><strong>Men&uacute;s:</strong><h5></label>
                      </div>
                      <div class="col-sm-10" ng-show="dataForTheTree !== null">

                          <!--Dibuja el arbol de las opciones-->
                           <treecontrol class="tree-classic"
                             tree-model="dataForTheTree"
                             options="treeOptions"
                             selected-node="menu_padre">
                             {{node.TipoOpcion}}: {{node.Nombre}}
                          </treecontrol>
                      </div>
                    </div>


                      <br><br><div class="col-md-12 text-center row line">
                        <div class="col-sm-6">
                          <input type="submit" class="btn btn-lg btn-primary" value="Confirmar" ng-click="confirmar()">
                        </div>
                         <button class="btn btn-lg btn-danger" type="reset" ng-click="reset(crearMenu)">Cancelar</button>
                      </div>

                 </div>
                 </div>
              </form>
            </div>
            </div>
