<br>
<div class="panel panel-default">
    <div class="panel-heading">
         Bienvenidos al módulo de administración de configuración
    </div>
    <div class="panel-body">
        <h1>
          Bienvenidos al módulo de administración de configuración
        </h1>
        <p>
          En este aplicativo podrás realizar registrar, consultar, eliminar y editar tus aplicaciones, perfiles, menús y parámetros.
        </p>
        <div align="center"><img src="images/admin.png" heigth="150px" width="150px" align="middle"></div>
    </div>
    <div class="panel-footer">
        
    </div>
</div>
